.body-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(127,178,65);
    background: linear-gradient(140deg, rgba(127,178,65,1) 0%, rgba(54,76,28,1) 100%);
    color: #A9907E;
}

.login-container h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.login-container label {
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-self: flex-start;
}


.login-container img{
    width:15vh;
}


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #F0EEE4;
    border-radius: 20px;
    width: 40vh;
    height: 70vh;
}
