nav {
    background: rgb(127, 178, 65);
    background: linear-gradient(140deg, rgba(127, 178, 65, 1) 0%, rgba(54, 76, 28, 1) 100%);
    font-family: 'Jost', sans-serif;
    display: block;
}

.nav-text-button {
    margin: 0px 15px;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    /* Initial text color */
    transition: 0.3s ease;
}

.nav-text-button:hover {
    transform: scale(1.03);
}

.nav-action-button {
    padding: 7px 30px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #f0eee4;
    border: 2px solid #b2adad;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-action-button:hover {
    transform: scale(1.03);
}

button:hover {
    cursor: pointer;
}